/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$green: #87B335;

body {
	font-family: 'Rubik', sans-serif;
	padding-top: 60px;
	overflow-x: hidden;
}

.logo {
	color: #fff;
	font-weight: bold;
	font-family: 'Rubik', sans-serif;
	position: relative;
	bottom: 9px;
	border: 2px solid #fff;
	padding: 3px;
}

#google_map {
	height: 60px;
}

#google_map1 {
	height: 45px;
	margin-top: 40px;
}
/* navbar section */
.menu-scroll {
	padding-top: 0px;
	padding-bottom: 0px;
	position: fixed;
	top: 0; 
	left: 0; 
	right: 0; 
	z-index: 300;
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	background-color: #3f3861;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	transition:all .3s;
	height: 60px;
		
}

.main_menu_bg{
	padding-top: 0px;
	padding-bottom: 0px;
	position: fixed;
	top: 0; 
	left: 0; 
	right: 0; 
	z-index: 300;
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	background-color: #3f3861;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	transition:all .3s;
	height: 60px;
}
.main_menu_bg .navbar-default {
	background-color: transparent; 
	border-color: transparent; 
	transition: all .6s;
	margin: 15px auto;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
}
.main_menu_bg .navbar {}

.main_menu_bg .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{

}

.main_menu_bg .navbar-nav>li>a {
	margin-left: 5px;
	position: relative;
	bottom: 5px;
	flex: 0 0 auto;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	&:hover {
		color: #fff;
	};
}
.navbar-brand>img {
	max-width: 80%;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{


}

.dropdown-menu {
	min-width: 160px;
	padding: 0px;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: transparent;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; 
	border: 0px solid #ccc; 
	border: 0px solid rgba(0,0,0,.15); 
	border-radius: 0px; 
	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.175); 
	box-shadow: 0 0px 0px 
}

.dropdown-menu .navbar-form .form-group input[type="text"]{
	background-color:rgba(34, 61, 97, 0.68);
	border: 1px solid #f5c239;
	color:#f5c239;
	width: 300px;
}
.dropdown-menu .navbar-form .form-group .form-control::-webkit-input-placeholder{
	color: #f5c239;
	opacity: 1; 
}
.dropdown-menu .navbar-form {
	margin-right: -30px;
}

.form-control::-moz-placeholder{
	color: #5e9a28;
	opacity: 1;
}
.form-control:-moz-placeholder{
	color: #5e9a28;
	opacity: 1;  
}  
.form-control::-webkit-input-placeholder{
	color: #5e9a28;
	opacity: 1; 
} 
.form-control:-ms-input-placeholder{
	color: #5e9a28;
	opacity: 1; 
}

.quds {
	background: linear-gradient(#3f3862,rgba(27,24,43,.72)), url("quds.jpg") no-repeat center center;
	height: 1050px;
	h1 {
		margin-top: 200px;
	}
}

.green-btn {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-weight: 400;
	font-size: 25px;
	cursor: pointer;
	outline: none;
	border: 0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	min-height: 60px;
	padding: 12px;
	letter-spacing: .8px;
	background-color: #26c1c6;
	color: #fff;
	position: relative;
	right: 4px;
	bottom: 2px;
	&:hover {
		background: #17ccd2;
		color: #fff;
		border-color: transparent;
	};
}


.form-width {
	width: 335px;
	border-radius: 0px;
	height: 60px;
	margin: auto;
	font-size: 30px;
	display: inline;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #9b9b9b;
}

.form-control {
	width: 300px;
}

.book-img {
	height: 120px;
	width: 100%;
}

.book-img1 {
	height: 290px;
	width: 260px;
	margin-bottom: 20px;
}

.book-price {
	color: #3f3861;
	font-weight: bold;
}

.book-description {
	font-weight: bold;
}

#map {
	height: 300px;
	width: 550px;
}

.book {
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	padding-top: 10px;
}